<ngt-canvas
  [sceneGraph]="sceneGraph"
  [camera]="{ position: [3, 3, 3], fov: 50 }"
  tabindex="0"
>
  <ngt-orbit-controls
    [options]="{
      keyEvents: true,
      makeDefault: true,
      autoRotate: true,
      autoRotateSpeed: 0.5,
      enableDamping: true,
      dampingFactor: 0.05,
      rotateSpeed: 0.5,
      zoomSpeed: 0.5,
      panSpeed: 0.5,
      enableRotate: true,
      enableZoom: true,
      enablePan: true,
      target: [0, 0, 0]
    }"
  ></ngt-orbit-controls>
</ngt-canvas>
