html,
body {
  /**
  * Only place where we use !important
  */

  height: 100vh !important;
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}
